/*
 * Base structure
 */


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


table tr td:nth-child(2) {
	width: 50%;
}
table tr {
	height: 50px;
	overflow: hidden;
	display: block;
}

.mensaje {
	width: 100%;
	padding: 5px 3px;
	background-color: #f5f5f5;
	display: none;
	margin: 10px 0;
}

.mensaje.ok {
	color: green;
}

.mensaje.error {
	color: red;
}

#detalle {
	border: 1px solid #CCC;
	margin: 0 20px;
  margin-left:20%;
	border-radius: 4px;
  width:75%;
}

#cabecera {
	margin-bottom: 20px;
}

#cabecera h2{
	display: inline;
}

#detalle a.cerrar {
	color: black;
	font-size: 1.5em;
	float: right;
}

#detalle a.cerrar:hover {
	text-decoration: none;
}
